<div class="form-group">
  <%= f.label :name, t('.name') %>
  <%= f.text_field :name %>
</div>

<div class="form-group">
  <%= f.label :floor, t('.floor') %>
  <%= f.number_field :floor %>
</div>

<div class="form-group">
  <%= f.label :total_bed_count, t('.total_bed_count') %>
  <%= f.number_field :total_bed_count %>
</div>

<div class="form-group">
  <%= f.label :comment, t('.comment') %>
  <%= f.text_area :comment %>
</div>
<div class="form-group">
  <%= f.label :contact, t('.contact') %>
  <%= f.text_area :contact %>
</div>

<div class="form-group">
  <%= f.label :uds, t('.uds') %>
  <%= f.text_field :uds %>
</div>
