<h1>
  <%= current_entity.name %>
</h1>

<h2>
  <%= t('.title')%>
</h2>

<div class="form_service_creation">
  <%= form_for(@service) do |f| %>

    <% if f.object.errors.any? %>
      <div class="flash alert errors">
        <p>
          <%= t('.errors_count', count: f.object.errors.count) %>
        </p>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render partial: 'fields', locals: { f: f } %>

    <p class="submit-container">
      <%= f.submit t('.submit') %>
    </p>
  <% end %>

</div>
