<h1><%= @service.entity.name %></h1>

<h2><%= t('.service_title', service: @service.name) %></h2>

<% if current_user %>
  <div class="new_subscription">
    <p class="new_subscription_switch">
      <%= t('.new_subscription_title')%>
    </p>
    <% if @service.assignations.where(service_referee: current_user, accept_notifications: true).exists? %>
      <p><%= t('.current_subscription', email: current_user.email) %>&nbsp;-&nbsp;<%= link_to t('.unsubscribe'), disable_notifications_service_assignations_url(@service), method: :delete, data: { confirm: t('.unsubscribe_why_not') } %>
      </p>
    <% else %>
      <p><%= link_to t('.subscribe'), enable_notifications_service_assignations_url(@service), method: :post %></p>
    <% end %>
  </div>
<% else %>
  <div class="new_subscription">
    <p class="new_subscription_switch">
      <%= t('.new_subscription_title')%>
    </p>
    <% if @notification_subscription.new_record? %>
      <%= form_for @notification_subscription, url: notification_subscriptions_path, html: { id: "notification-form" } do |form| %>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.email_field :email %>
        </div>
        <p class="submit-container">
          <%= form.submit t('.subscribe') %>
        </p>
      <% end %>
    <% else %>
      <p><%= t('.current_subscription', email: @notification_subscription.email) %>&nbsp;-&nbsp;<%= link_to t('.unsubscribe'), delete_notification_subscriptions_path(@service.token, id: @notification_subscription), method: :delete, data: { confirm: t('.unsubscribe_why_not') } %>
    <% end %>
  </div>
<% end %>

<p class="last_update <%= (Time.zone.now - @service.updated_at) / 60 < 10 ? 'recent' : '' %>">
  <%= t('.last_update_html', time: l(@service.updated_at)) %>
</p>
<p class="total_availability">
  <%= t('.total_beds_html', count: @service.total_bed_count) %>
</p>

<%= form_for @service, url: update_availabilities_path, html: { id: "quick-update-form" } do |form| %>
    <%= form.hidden_field :available_women_bed_count %>
    <%= form.hidden_field :available_man_bed_count %>
    <%= form.hidden_field :available_gender_free_bed_count %>
    <%= form.hidden_field :available_isolated_bed_count %>
    <p class="submit-container">
      <%= form.submit t('.no_changes') %>
    </p>
<% end %>

<p>
  <%= link_to t('.see_info'), service_url(@service, token: @service.entity.token) %>
</p>

<%= form_for @service, url: update_availabilities_path, html: { id: "service-update-form" } do |form| %>
  <div class="step" id="service_update_step1" style="display:<%= @step_2 ? 'none' : 'block' %>;">
    <div class="flash alert errors" id="service_update_step1_errors">
      <p>
        <%= t('.verification_errors') %>
      </p>
    </div>
    <div class="form-group">
      <%= form.label :current_availability %>
      <%= form.number_field :current_availability, pattern: "[0-9]*", inputmode: "numeric" %>
    </div>
    <div class="form-group">
      <%= form.label :planned_leaves_count %>
      <%= form.number_field :planned_leaves_count, pattern: "[0-9]*", inputmode: "numeric" %>
    </div>
    <div class="form-group">
      <%= form.label :planned_arrivals_count %>
      <%= form.number_field :planned_arrivals_count, pattern: "[0-9]*", inputmode: "numeric" %>
    </div>
    <p class="submit-container">
      <%= form.submit t('.next'), id: "next_button" %>
    </p>
  </div>

  <div class="step" id="service_update_step2" style="display:<%= @step_2 ? 'block' : 'none' %>;">
    <p><%= t('.available_count_confirmation_html')%>
    <% if form.object.errors.any? %>
      <div class="flash alert errors">
        <p>
          <%= t('.errors_count', count: form.object.errors.count) %>
        </p>
        <ul>
          <% form.object.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group with_icon">
      <%= image_tag('bed_woman.svg') %>
      <div>
        <%= form.label :available_women_bed_count %>
        <%= form.number_field :available_women_bed_count, pattern: "[0-9]*", inputmode: "numeric" %>
      </div>
    </div>
    <div class="form-group with_icon">
      <%= image_tag('bed_man.svg') %>
      <div>
        <%= form.label :available_men_bed_count %>
        <%= form.number_field :available_man_bed_count, pattern: "[0-9]*", inputmode: "numeric" %>
      </div>
    </div>
    <div class="form-group with_icon">
      <%= image_tag('bed_gender.svg') %>
      <div>
        <%= form.label :available_gender_free_bed_count %>
        <%= form.number_field :available_gender_free_bed_count, pattern: "[0-9]*", inputmode: "numeric" %>
      </div>
    </div>
    <div class="form-group with_icon">
      <%= image_tag('bed_isolated.svg') %>
      <div>
        <%= form.label :available_isolated_bed_count %>
        <%= form.number_field :available_isolated_bed_count, pattern: "[0-9]*", inputmode: "numeric" %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :update_comment %>
      <%= form.text_area :update_comment %>
    </div>
    <p class="submit-container">
      <%= form.submit t('.previous'), id: "previous_button" %>
      <%= form.submit t('.save') %>
    </p>
  </div>
<% end %>