<h1><%= @current_entity.name %></h1>

<h2><%= t('.title') %></h2>

<div class="centered-button">
  <%= link_to t('.add_service'), new_service_url, class: 'button' %>
</div>

<table class="services-table service-informations">
  <thead>
    <tr>
      <th>
        <%= t('.floor') %>
      </th>
      <th>
        <%= t('.name') %>
      </th>
      <th>
        <%= t('.total_bed_count') %>
      </th>
      <th>
        <%= t('.service_referees') %>
      </th>
      <th>
        <%= t('.comment') %>
      </th>
      <th>
        <%= t('.uds') %>
      </th>
      <th>
        <%= t('.actions') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.floor %></td>
        <td><%= link_to(service.name,
                        service_url(service,
                                    token: service.entity.token)) %></td>
        <td><%= service.total_bed_count%></td>
        <td><%= service.service_referees.map(&:name).join(', ') %></td>
        <td>
          <%= simple_format(service.comment) %><br />
          <%= simple_format(service.contact) %>
        </td>
        <td><%= service.uds %></td>
        <td class="actions">
          <%= link_to t('.manage_referees'), new_service_service_referee_path(service) %>
          <%= link_to t('.qrcode'), service_qrcode_path(service, token: service.token) %>
          <%= link_to t('.form'), edit_availabilities_path(service, token: service.token) %>
          <%= link_to t('.edit'), edit_service_path(service) %>
          <%= link_to t('.delete'),
                      service_path(service),
                      method: :delete,
                      data: { confirm: t('.why_not') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>