<h1><%= @service.entity.name %> - <%= @service.name %></h1>

<p><%= t('.explanation') %></p>

<h2><%= t('.emergency_qrcode') %></h2>

<div id="qrcode" data-url="<%=edit_availabilities_url(@service.token) %>">
</div>