<h1><%= @service.entity.name %></h1>

<h2><%= t('.service_title', service: @service.name) %></h2>
<p>
  <%= t('.last_update_html', time: l(@service.updated_at)) %>
</p>

<h2><%= t('.service_stats') %></h2>

<%= render partial: "shared/stats", locals: { services: [@service] } %>

<h2><%= t('.information') %></h2>

<table class="services-table service-informations">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td><%= t('.floor') %></td>
      <td><%= @service.floor %></td>
    </tr>
    <tr>
      <td><%= t('.total_bed_count') %></td>
      <td><%= @service.total_bed_count %></td>
    </tr>
    <tr>
      <td><%= t('.referees') %></td>
      <td>
        <ul>
          <% @service.service_referees.each do |referee| %>
            <li>
              <%= referee.name %> &lt;<%= link_to referee.email, "mailto:#{referee.email}" %>&gt;<br />
              <%= referee.contact_details%>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td><%= t('.comment') %></td>
      <td>
        <%= simple_format(@service.comment) %><br />
      </tr>
    <tr>
      <td><%= t('.contact') %></td>
      <td>
        <%= simple_format(@service.contact) %>
      </td>
    </tr>
    <tr>
      <td><%= t('.uds') %></td>
      <td><%= @service.uds %></td>
    </tr>
  </tbody>
</table>