<h1>
  <%= t('.title') %>
</h1>

<%= form_tag sessions_managers_path do |form| %>
  <div class="form-group">
    <%= label_tag :email, t('.email') %>
    <%= email_field_tag :email %>
  </div>

  <div class="form-group">
    <%= label_tag :password, t('.password') %>
    <%= password_field_tag :password %>
  </div>

  <div class="submit-container">
    <%= submit_tag t('.submit') %>
  </div>

<% end %>

<div class='auth_links'>
  <%= render partial: 'shared/auth_links' %>
</div>
