<h1><%= @entity.name %></h1>

<p><%= t('.availabilities', time: l(Time.zone.now))%>

<h2><%= t('.global_stats') %></h2>

<%= render partial: "shared/stats", locals: { services: @services } %>

<h2><%= t('.services') %></h2>

<table class="services-table" border-collapse="collapse">
  <thead>
    <tr>
      <th class="name">&nbsp;</th>
      <th>
        <%= image_tag('bed_woman.svg') %>
        <span><%= t('.available_women') %></span>
      </th>
      <th>
        <%= image_tag('bed_man.svg') %>
        <span><%= t('.available_men') %></span>
      </th>
      <th>
        <%= image_tag('bed_gender.svg') %>
        <span><%= t('.available_gender_free') %></span>
      </th>
      <th>
        <%= image_tag('bed_isolated.svg') %>
        <span><%= t('.available_single') %></span>
      </th>
  </thead>
  <tbody>
    <% floor_buffer = nil %>
    <% same_floor = 0 %>
    <% @services.each do |service| %>
      <% if floor_buffer && floor_buffer != service.floor %>
        <% if same_floor > 1 %>
        <tr class="floor_summary">
          <td class="name"><%= t('.floor_summary', floor: floor_buffer) %></td>
          <td><%= @services.select {|s| s.floor == floor_buffer }.map(&:available_women_bed_count).sum %></td>
          <td><%= @services.select {|s| s.floor == floor_buffer }.map(&:available_man_bed_count).sum %></td>
          <td><%= @services.select {|s| s.floor == floor_buffer }.map(&:available_gender_free_bed_count).sum %></td>
          <td><%= @services.select {|s| s.floor == floor_buffer }.map(&:available_isolated_bed_count).sum %></td>
        </tr>
        <% end %>
        <% same_floor = 1 %>
      <% else %>
        <% same_floor += 1 %>
      <% end %>
      <% floor_buffer = service.floor %>
      <tr class="<%= elapsed_class(service) %>">
        <td class="name" rowspan="<%= service.update_comment.present? ? 2 : 1 %>"><%= link_to service.name, service_url(service, token: @entity.token) %> <%= t('.floor', floor: service.floor) %></td>
        <td><%= service.available_women_bed_count %></td>
        <td><%= service.available_man_bed_count %></td>
        <td><%= service.available_gender_free_bed_count %></td>
        <td><%= service.available_isolated_bed_count %></td>
      </tr>
      <% if service.update_comment.present? %>
        <tr class="<%= elapsed_class(service) %>">
          <td class="comment" colspan="4"><%= simple_format(service.update_comment) %></td>
        </tr>
      <% end %>
    <% end %>
    <% if same_floor > 1 %>
      <tr class="floor_summary">
        <td class="name"><%= t('.floor_summary', floor: floor_buffer) %></td>
        <td><%= @services.select {|s| s.floor == floor_buffer }.map(&:available_women_bed_count).sum %></td>
        <td><%= @services.select {|s| s.floor == floor_buffer }.map(&:available_man_bed_count).sum %></td>
        <td><%= @services.select {|s| s.floor == floor_buffer }.map(&:available_gender_free_bed_count).sum %></td>
        <td><%= @services.select {|s| s.floor == floor_buffer }.map(&:available_isolated_bed_count).sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="legend">
  <p><span class="red">&nbsp;</span><%= t('.old_record') %></p>
  <p><span class="green">&nbsp;</span><%= t('.recent_record') %></p>
</div>