<h1><%= t('.title')%></h1>

<div class="form_entity_creation">
  <%= form_for(@entity) do |f| %>

    <% if f.object.errors.any? %>
      <div class="flash alert errors">
        <p>
          <%= t('.errors_count', count: f.object.errors.count) %>
        </p>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <h2>
      <%= t('.manager') %>
    </h2>

    <%= f.fields_for :managers do |f_manager| %>
      <%= render partial: 'managers/fields', locals: { f: f_manager } %>
    <% end %>

    <p class="submit-container">
      <%= f.submit t('.submit') %>
    </p>
  <% end %>

</div>
