<%= t('mailer.notification.notify.hello') %>

<%= t('mailer.notification.notify.notification_message',
    service_name: @service.name) %>

<%= t('mailer.notification.notify.update_link') %> : 
<%= edit_availabilities_url(token: @service.token) %>

<%= t('mailer.notification.notify.greetings') %>

<%= t('mailer.notification.notify.signature') %>