<p>
  <%= t('mailer.notification.notify.hello') %>
</p>

<p>
  <%= t('mailer.notification.notify.notification_message',
      service_name: @service.name) %>
</p>

<p>
  <%= link_to(t('mailer.notification.notify.update_link'), edit_availabilities_url(token: @service.token)) %>
</p>

<p>
  <%= t('mailer.notification.notify.greetings') %>
</p>
<p>
  <%= t('mailer.notification.notify.signature') %>
</p>