<div class="form-group">
  <%= f.label :name, t('.name') %>
  <%= f.text_field :name %>
</div>

<div class="form-group">
  <%= f.label :email, t('.email') %>
  <%= f.email_field :email %>
</div>

<div class="form-group">
  <%= f.label :password, t('.password') %>
  <%= f.password_field :password %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, t('.password_confirmation') %>
  <%= f.password_field :password_confirmation %>
</div>