<h1><%= t('.title', name: @manager.entity.name) %></h1>

<% if @manager.entity.managers.any? %>
  <h2><%= t('.list_title')%></h2>
  <ul>
    <% @manager.entity.managers.where(type: "Manager").each do |manager| %>
      <% if manager.persisted? %>
      <li>
        <%= manager.name %> &lt;<%= link_to manager.email, "mailto:#{manager.email}" %>&gt;
        <% if manager.id != current_user.id %>
          &nbsp;-&nbsp; 
          <%= link_to t('.delete'),
            manager_path(manager),
            method: :delete,
            data: { confirm: t('.why_not') } %>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h2><%= t('.invite_title')%></h2>
<div class="form_manager_creation">
  <%= form_for(@manager) do |f| %>

    <% if f.object.errors.any? %>
      <div class="flash alert errors">
        <p>
          <%= t('.errors_count', count: f.object.errors.count) %>
        </p>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, t('.name') %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :email, t('.email') %>
      <%= f.email_field :email %>
    </div>

    <p class="submit-container">
      <%= f.submit t('.submit') %>
    </p>
  <% end %>

</div>
