<p>
  <%= t('mailer.invitation.add_referee.hello', name: @referee.name) %>
</p>

<p>
  <%= t('mailer.invitation.add_referee.someone_invited_you',
      service_name: @service.name) %>
</p>

<p>
  <%= t('mailer.invitation.add_referee.presentation') %>
</p>
<p>
  <%= t('mailer.invitation.add_referee.signature') %>
</p>