<%= t('mailer.invitation.add_referee.hello', name: @referee.name) %>

<%= t('mailer.invitation.add_referee.someone_invited_you',
      service_name: @service.name) %>
<%= t('mailer.invitation.add_referee.join') %>

<%= t('mailer.invitation.add_referee.presentation') %>

<%= t('mailer.invitation.add_referee.signature') %>