<%= t('mailer.invitation.create_referee.hello', name: @manager.name) %>

<%= t('mailer.invitation.create_referee.someone_invited_you',
      entity: @manager.entity.name) %>
<%= t('mailer.invitation.create_referee.join') %>

<%= new_invitation_managers_url(token: @manager.invitation_token) %>

<%= t('mailer.invitation.create_referee.presentation') %>

<%= t('mailer.invitation.create_referee.signature') %>