<p>
  <%= t('mailer.invitation.create_referee.hello', name: @manager.name) %>
</p>

<p>
  <%= t('mailer.invitation.create_referee.someone_invited_you',
      entity: @manager.entity.name) %>
</p>

<p>
  <%= t('mailer.invitation.create_referee.join') %><br />
  <%= link_to(t('mailer.invitation.create_referee.accept'), new_invitation_managers_url(token: @manager.invitation_token)) %>
</p>

<p>
  <%= t('mailer.invitation.create_referee.presentation') %>
</p>
<p>
  <%= t('mailer.invitation.create_referee.signature') %>
</p>