<% if controller_name == 'manager_sessions' %>
  <p>
    <%= link_to t('.forgot_password'), new_password_url %>
  </p>
<% end %>
<% if controller_name == 'passwords' %>
  <p>
    <%= link_to t('.sign_in'), sign_in_managers_url %>
  </p>
<% end %>
