
  <div class="flash warning">
    <p>Nous vous recommandons d'installer l'application pous plus de facilité à la retrouver.</p>
    <p><a class="button" id="installation-button">Installer l'application</a></p>
  </div>
