<ul id="menu" class="dropdown">
  <li class="trigger">
  <%= link_to t('.menu'), '#', class: "dropdown_head" %>
  </li>
  <div class="dropdown_content">
    <li><%= link_to(t('.home'), root_url) %></li>
    <li><%= link_to(t('.scanner'), qrcode_scanner_url) %></li>
    <% if current_user %>
      <li><%= link_to(t('.availabilities'), entity_availabilities_url(current_user.entity.token)) %></li>
      <% if current_user.is_a?(ServiceReferee) %>
        <li>
          <%= t('.service') %>
          <div>
            <ul>
              <% current_user.services.each do |s| %>
                <%= link_to(s.name, service_url(s, token: current_user.entity.token)) %>
              <% end %>
            </ul>
          </div>
        </li>
        <li>
          <%= t('.service_qrcode') %>
          <div>
            <ul>
              <% current_user.services.each do |s| %>
                <%= link_to(s.name, service_qrcode_url(s.token)) %>
              <% end %>
            </ul>
          </div>
        </li>
        <li>
          <%= t('.service_availabilities') %>
          <div>
            <ul>
              <% current_user.services.each do |s| %>
                <%= link_to(s.name, edit_availabilities_url(s.token)) %>
              <% end %>
            </ul>
          </div>
        </li>
      <% else %>
        <li><%= link_to(t('.entity_qrcode'), entity_qrcode_url(current_user.entity.token)) %></li>
        <li><%= link_to(t('.services'), services_url) %></li>
        <li><%= link_to(t('.managers'), new_manager_url) %></li>
      <% end %>
      <li><%= link_to(t('.manager_out'), sign_out_managers_url, method: :delete) %></li>
    <% else %>
      <li><%= link_to(t('.manager_sign_up'), new_entity_url) %></li>
      <li><%= link_to(t('.manager_login'), sign_in_managers_url) %></li>
    <% end %>
  </div>
</ul>