<% content_for(:notification_permission) do %>
  <div class="flash warning">
    <p>On vous recommande d'autoriser les notifications pour cette application. De cette façon, vous serez automatiquement rappelés de mettre à jour la disponibilité des lits de votre service, ou averti de nouvelles demandes et disponibilités</p>
    <p><a class="button" id="notifications-permission-request">Autoriser les notifications</a></p>
  </div>
<% end %>
