<% total_existing_beds = services.inject(0) { |a, s| a += s.total_bed_count } %>
<% total_available_beds = services.inject(0) { |a, s| a += s.available_women_bed_count + s.available_man_bed_count + s.available_gender_free_bed_count + s.available_isolated_bed_count } %>
<% color_class = color_class(total_available_beds, total_existing_beds) %>

<div class="info-box total-box">
  <dl>
      <!-- <p class="picto_description">Total de lits disponibles</p> -->
    <div>
      <dt><%= image_tag('bed.svg') %></dt>
      <dd class="<%= color_class %>"><%= total_available_beds %></dd>
    </div>
  </dl>

</div>

<div class="info-box split-box">
  <dl>
    <div>
      <dt><%= image_tag('bed_woman.svg') %></dt>
      <dd class="<%= color_class %>">
        <%= services.inject(0) { |a, s| a+= s.available_women_bed_count } %>
      </dd>
    </div>
    <div>
      <dt><%= image_tag('bed_man.svg') %></dt>
      <dd class="<%= color_class %>">
        <%= services.inject(0) { |a, s| a+= s.available_man_bed_count } %>
      </dd>
    </div>
    <div>
      <dt><%= image_tag('bed_gender.svg') %></dt>
      <dd class="<%= color_class %>">
        <%= services.inject(0) { |a, s| a+= s.available_gender_free_bed_count } %>
      </dd>
    </div>
    <div>
      <dt><%= image_tag('bed_isolated.svg') %></dt>
      <dd class="<%= color_class %>">
        <%= services.inject(0) { |a, s| a+= s.available_isolated_bed_count } %>
      </dd>
    </div>
  </dl>
</div>