<h1><%= t('.title')%></h1>

<div class="form_invitation_creation">
  <%= form_for(@manager, url: invitations_managers_path) do |f| %>

    <% if f.object.errors.any? %>
      <div class="flash alert errors">
        <p>
          <%= t('.errors_count', count: f.object.errors.count) %>
        </p>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag :token, params[:token], readonly: true %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :password, t('.password') %>
      <%= f.password_field :password %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, t('.password_confirmation') %>
      <%= f.password_field :password_confirmation %>
    </div>

    <p class="submit-container">
      <%= f.submit t('.submit') %>
    </p>
  <% end %>

</div>
