<h1><%= t('.title')%></h1>

<div class="home">
  <div class="emergencies-description">
    <%= image_tag('emergencies_screenshot.png')%>
    <p><%= t('.emergencies_description')%></p>
  </div>
  <div class="services-description">
    <%= image_tag('services_screenshot.png')%>
    <p><%= t('.services_description')%></p>
  </div>
  <p><%= t('.colophon') %></p>
</div>