<h1>
  <%= t('.title') %>
</h1>

<%= form_tag passwords_url, method: :patch do %>
  <%= hidden_field_tag :token, params[:token] %>

  <div class="form-group">
    <%= label_tag :password, t('.password') %>
    <%= password_field_tag :password %>
  </div>

  <div class="form-group">
    <%= label_tag :password_confirmation, t('.password_confirmation') %>
    <%= password_field_tag :password_confirmation %>
  </div>

  <div class="submit-container">
    <%= submit_tag t('.submit') %>
  </div>
<% end %>

<div class='auth_links'>
  <%= render partial: 'shared/auth_links' %>
</div>
