<h1>
  <%= t('.title') %>
</h1>

<%= form_tag passwords_path do %>
  <div class="form-group">
    <%= label_tag :email, t('.email') %>
    <%= email_field_tag :email %>
  </div>

  <div class="submit-container">
    <%= submit_tag t('.submit') %>
  </div>

<% end %>

<div class='auth_links'>
  <%= render partial: 'shared/auth_links' %>
</div>
