<%= t('mailer.password.reset.hello', name: @manager.name) %>

<%= t('mailer.password.reset.reset_message') %>

<%= t('mailer.password.reset.reset_link') %> :
<%= renew_password_url(token: @manager.password_reset_token) %>

<%= t('mailer.password.reset.not_you') %>

<%= t('mailer.password.reset.signature') %>
