<p>
  <%= t('mailer.password.reset.hello', name: @manager.name) %>
</p>

<p>
  <%= t('mailer.password.reset.reset_message') %>
</p>
<p>
  <%= link_to t('mailer.password.reset.reset_link'),
                renew_password_url(token: @manager.password_reset_token) %>
</p>

<p>
  <%= t('mailer.password.reset.not_you') %>
</p>
<p>
  <%= t('mailer.password.reset.signature') %>
</p>