<% icon_sizes = Rails.configuration.serviceworker.icon_sizes %>
{
  "name": "Lidispo",
  "short_name": "Lidispo",
  "start_url": "/",
  "icons": [
    {
      "src": "<%= image_path "icons/android-icon-36x36.png" %>",
      "sizes": "36x36",
      "type": "image\/png",
      "density": "0.75"
    },
    {
      "src": "<%= image_path "icons/android-icon-48x48.png" %>",
      "sizes": "48x48",
      "type": "image\/png",
      "density": "1.0"
    },
    {
      "src": "<%= image_path "icons/apple-icon-60x60.png" %>",
      "sizes": "60x60",
      "type": "image/png"
    },
    {
      "src": "<%= image_path "icons/android-icon-72x72.png" %>",
      "sizes": "72x72",
      "type": "image\/png",
      "density": "1.5"
    },
    {
      "src": "<%= image_path "icons/apple-icon-76x76.png" %>",
      "sizes": "76x76",
      "type": "image/png"
    },
    {
      "src": "<%= image_path "icons/android-icon-96x96.png" %>",
      "sizes": "96x96",
      "type": "image\/png",
      "density": "2.0"
    },
    {
      "src": "<%= image_path "icons/apple-icon-120x120.png" %>",
      "sizes": "120x120",
      "type": "image/png"
    },
    {
      "src": "<%= image_path "icons/android-icon-144x144.png" %>",
      "sizes": "144x144",
      "type": "image\/png",
      "density": "3.0"
    },
    {
      "src": "<%= image_path "icons/apple-icon-152x152.png" %>",
      "sizes": "152x152",
      "type": "image/png"
    },
    {
      "src": "<%= image_path "icons/apple-icon-180x180.png" %>",
      "sizes": "180x180",
      "type": "image/png"
    },
    {
      "src": "<%= image_path "icons/android-icon-192x192.png" %>",
      "sizes": "192x192",
      "type": "image\/png",
      "density": "4.0"
    }
  ],
  "theme_color": "#000000",
  "background_color": "#FFFFFF",
  "display": "fullscreen",
  "orientation": "portrait"
}