/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F5F5F5;
  font-family: 'Helvetica Neue', Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;

}

h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #5C5C5C;
}

h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #5C5C5C;
}

#application {
  max-width: 900px;
  margin: 0 auto;
}

#menu {
  list-style-type : none;
  margin: 0;
  padding: 0;

  li {
    margin: 10px;
    ul {
      margin-top: 5px;
      margin-left: 10px;
    }
  }
  
  a, a:active {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  a:before {
    content: "> ";
  }
  
  .trigger a:before {
    content: '';
  }
}

.flash {
  margin: 0 0 20px;
  padding: 10px 20px;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.flash.notice,
.flash.success {
  color: green;
  background-color: rgba(200, 255, 200, .5)
}
.flash.alert,
.flash.error {
  color: red;
  background-color: rgba(255, 200, 200, .5)
}
.flash.warning {
  color: #222;
  background-color: rgba(255, 200, 200, .5)
}
.flash.errors {
  text-align: left;
}

.button,
button,
input[type='submit'] {
  display: inline-block;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #EEE;
  border: 1px solid #CCC;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}
.button:hover,
button:hover,
input[type='submit']:hover {
  background-color: #CCC;
  border: 1px solid #BBB;
}

.centered-button {
  padding-bottom: 15px; 
  text-align: center;
}

.home {
  width: 70%;
  margin: 0 auto;
  p {
    margin: 40px auto;
  }
}
.services-description,
.emergencies-description {
  display: flex;
  margin-bottom: 20px;

  img {
    margin: 0 20px;
  }
  
  img, p {
    align-self: center;
  }
}
.services-description {
  flex-direction: row-reverse;
}

.info-box {
  position: relative;
  margin: 10px;
  padding: 10px;
  background: #D8D8D8;
  border: 1px solid #979797;

  .picto_description {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    color: #e8e8e8;
    z-index: 0;
    font-size: 8vw;
  }

  dl {
    z-index: 1000;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;


    dt {
      margin: 10px;
      padding: 0;
      text-align: center;

      img {
        width: 80%;
      }
    }
    dd {
      margin: 10px;
      padding: 0;
      font-size: 5em;
      color: #329E1E; // green
      text-align: center;
      font-weight: bold;
      align-self: center;
    }
    dd.red {
      color: #e04141; // red
    }
    dd.orange {
      color: #e09341; // orange
    }
  }
}

.total-box {
  dl div {
    display: flex;
  }
}

.services-table {
  width: 100%;
  margin-bottom: 40px;

  .name {
    width: 30%;
  }
  .floor_summary .name {
    padding-left: 30px;
  }

  img {
    width: 50%;
  }

  th span {
    display: block;
    font-weight: normal;
    font-size: 0.7em;
    margin: 10px auto;
  }

  td {
    padding: 10px;
    border-top: 1px solid black;
  }
  td:not(.name):not(.comment), th {
    text-align: center;
  }
  tr.old {
    background-color: #fda6a1;
  }
  tr.recent {
    background-color: #D8EFE1;
  }
}

.services-table.service-informations td:not(.name):not(.comment) {
  text-align: left;
}

.services-table td {
  vertical-align: top;

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding-left: 10px;
    
    li {

    }
  }
}

.legend {
  p {
    display: flex;
    align-items: center;
    vertical-align: bottom;
  }
  span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  span.red { background-color: #fda6a1; border: 1px solid #CCC; }
  span.green { background-color: #D8EFE1; border: 1px solid #CCC; }
}

#qrcode {
  width: 60%;
  margin: 40px auto;
}

.with_icon {
  display: flex;
  
  div {
    width: 100%;
  }
  
  img {
    width: 50px;
    margin-right: 20px;
    align-self: start;
  }
}

form {
  .form-group {
    margin-bottom: 10px;

    textarea,
    input {
      margin: 5px 0;
      padding: 10px;
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;
    }
    textarea {
      height: 6em;
    }
  }

  .field_with_errors input {
    border-color: red;
  }

  .submit-container {
    text-align: center;
  }
}

#quick-update-form {
  .submit-container {
    text-align: left;
  }
}

.last_update.recent span {
  color: #ce9947;
}

#available-count-confirmation,
.total_availability span {
  font-weight: bold;
}

.new_subscription_switch {
  line-height: 26px;
}

.actions a {
  display: block;
  white-space: nowrap;
}

.dropdown {
  .dropdown_head {
    background: transparent asset_url("downarrow.png") no-repeat center right;
    padding-right: 20px;
  }
  .dropdown_head.open {
    background: transparent asset_url("uparrow.png") no-repeat center right;
  }

  .dropdown_content {
  }
  ul {
    padding: 0;
    width: max-content;
  }
}

#notification-form {
  display: flex;
  align-items: flex-end;

  .submit-container {
    margin-left: 20px;
  }
}

#loadingMessage {
  text-align: center;
  padding: 40px;
  background-color: #eee;
  margin-bottom: 20px;
}

#qrcode-scanner {
  width: 100%;
}

@media (max-width: 750px) {
  .services-description,
  .emergencies-description {
    display: block;

    img {
      display: block;
      margin: 0 auto;
    }
  }
  .info-box.split-box {
    dl {
      display: flex;
      flex-wrap: wrap;
      
      div {
        flex: 0 0 50%;
      }
    }
  }
}

.auth_links {
  text-align: center;
}
