<h1><%= @service.name %></h1>

<% if @service.service_referees.any? %>
  <h2><%= t('.referees_title', service: @service.name) %></h2>
  <ul>
    <% @service.service_referees.each do |referee| %>
      <% if referee.persisted? %>
      <li>
        <%= referee.name %> &lt;<%= link_to referee.email, "mailto:#{referee.email}" %>&gt;&nbsp;-&nbsp;<%= link_to t('.delete'),
            service_service_referee_path(@service, referee),
            method: :delete,
            data: { confirm: t('.why_not') } %>
        <br />
        <%= simple_format(referee.contact_details) %>
      </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h2><%= t('.title') %></h2>

<div class="form_service_referees_creation">
  <%= form_for @referee, url: service_service_referees_path(@service) do |f| %>

    <% if f.object.errors.any? %>
      <div class="flash alert errors">
        <p>
          <%= t('.errors_count', count: f.object.errors.count) %>
        </p>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, t('.name') %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :email, t('.email') %>
      <%= f.email_field :email %>
    </div>

    <div class="form-group">
      <%= f.label :contact_details, t('.contact_details') %>
      <%= f.text_area :contact_details %>
    </div>

    <p class="submit-container">
      <%= f.submit t('.submit') %>
    </p>
  <% end %>

</div>
