<!DOCTYPE html>
<html>
  <head>
    <title><%= t('title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path "icons/apple-icon-57x57.png" %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path "icons/apple-icon-60x60.png" %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path "icons/apple-icon-72x72.png" %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path "icons/apple-icon-76x76.png" %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path "icons/apple-icon-114x114.png" %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path "icons/apple-icon-120x120.png" %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path "icons/apple-icon-144x144.png" %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path "icons/apple-icon-152x152.png" %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path "icons/apple-icon-180x180.png" %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= image_path "icons/android-icon-192x192.png" %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path "icons/favicon-32x32.png" %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= image_path "icons/favicon-96x96.png" %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path "icons/favicon-16x16.png" %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <div id="application" data-icon="<%= image_path 'icons/apple-icon-152x152.png' %>">
      <%= render partial: "shared/install_permission" %>
      <%= yield(:notification_permission) %>
      <%= render partial: "shared/menu" %>
      <% flash.each do |level, message| %>
        <div class="flash <%= level %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
